* {
    margin: 2px;
    padding: 2px;
  }
  
  html {
    font-size: 20px;
    font-family: Raleway;
    background: #141E30;
    color: white;
    text-align: left;
  }

  
  .author h4 {
    font-family: Helvetica;
    color: rgba(255, 255, 255, 0.5);
    float: left;
    font-size: 14px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: lighter !important;
  }
  
  .article-author img {
    float: left;
    width: 40px;
    height: 45px;
  }
  
  .Title h1 {
    font-size: 35px;
    font-family: Georgia;
    text-align: center;
    padding-top: 80px;
  }
  
  .Title h2 {
    font-size: 24px;
    color: rgba(255,255,255,0.5);
    text-align: left;
    padding-top: 20px;
    font-weight:100;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    line-height: 24px;
    font-family: Georgia;
    padding-bottom: 20px;
    width: 50%;
  }
  
  p {
    padding-bottom: 10px;
    font-size: 20px;
  }
  
  #hacker {
    text-align: left;
    float: left;
  }
  
  .access-info {
    padding-bottom: 10px;
    font-size: 20px;
  }
  
  button {
    text-transform: uppercase;
    background-color:#694489;
    border: 0;
    color: rgb(255,255,255);
    float: left;
    padding: 20px 20px;
    margin-right: 10px;
  }

  a {
      color: dodgerblue;
  }