button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.uber {
    background-color: black;
    color: white;   
    padding: 12px;
    font-size: 12px;
    transition: background-color 1s;
}   

.uber:hover {
    opacity: 0.8;
}

.amazon {
    padding: 10px 45px;
    background-color: rgb(255, 230, 0);
    border: none;
    border-radius: 30px;
    transition: background-color 1s;
}

.amazon:hover {
    filter: brightness(95%);
}

.github {
    font-family: Arial;
    color: white;
    background-color: #2ea44f;
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: box-shadow 0.15s;
}

.github:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.bootstrap {
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 3px;
}

#get-started-btn {
    background-color: rgb(126, 86, 154);
    color: white;
    border: none;
    transition: background-color 1s;
}

#get-started-btn:hover {
    filter: brightness(90%);
}

#download-btn {
    color: rgb(126, 86, 154);
    background-color: rgb(255,255,255);
    border-color: rgb(126, 86, 154);
    border-width: 1px;
    transition: background-color 1s, color 1s;
}

#download-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}

.linkedin {
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 1s;
}

#apply-btn {
    background-color: #0072b1;
    color: white;
    border: none;
}

#apply-btn:hover {
    filter: brightness(90%);
}

#save-btn {
    border-color: rgb(0, 114, 177);
    color: rgb(0, 114, 177);
    background-color: rgb(255, 255, 255);
}

#save-btn:hover {
    background-color: rgba(0, 114, 177, 0.15);
}